<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="../styles/aboutMeStyle.css">
    </head>

    <body>
        <h3> Hi, My name is Sukina ALdaboubi.</h3>

        <p>I am 26 years old and live in Amman, Jordan.  I love coding and working in PwC, it gives me purpose and motiviates me to push my full potential.<br>
            I love to watch tennies, football and badmition. Movies and TV shows give me joy. I read novels sometimes; my favourite book is Mr.Merceds. <br>
            I have worked on multiple projects throught my 4 years experienc.
            <br></br>
            I am 26 years old and live in Amman, Jordan.  I love coding and working in PwC, it gives me purpose and motiviates me to push my full potential.<br>
            I love to watch tennies, football and badmition. Movies and TV shows give me joy. I read novels sometimes; my favourite book is Mr.Merceds.<br>
            I have worked on multiple projects throught my 4 years experienc. 
        </p>

        <h4>Skills</h4>
        <ul class="skills-list">
            <li>OOP</li>
            <li>Swift</li>
            <li>SwiftUI</li>
            <li>Javascript</li>
            <li>Reactjs</li>
            <li>HTML</li>
            <li>Css</li>
        </ul>

        <h4>Education:</h4>
        <ul class="education-list">
            <li>Al-khansa'a School</li>
            <li>The Hashemite University</li>
        </ul>
    </body>
</html>