<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="../styles/contact.css">
    </head>

    <body>
        <h4>This is my address:</h4>
        <address>
            Amman-Jordan.<br>
            Street Hom.23<br>
            Partment num 17<br>
            Box 564, Amman<br>
            Jo
        </address>


        <form class="contact-form">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <input class="submit" type="submit" value="Submit">
          </form>

    </body>
</html>