<!DOCTYPE html>
<html>
    <head>
        <title> Home</title>
        <link rel="stylesheet" href="../styles/home.css">
    </head>

    <body>
        <section class="project-sections">
            <h2>
                Project one.
            </h2>
            <img src="../assetss/imgs/pwc.jpeg" alt="This is project">
            <p>This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one 
                This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one.
            </p>
        </section>

        <section class="project-sections">
            <h2>
                Project Two.
            </h2>
            <img src="../assetss/imgs/pwc.jpeg" alt="This is project">
            <p>This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one 
                This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one.
            </p>
        </section>

        <section class="project-sections">
            <h2>
                Project Three.
            </h2>
            <img src="../assetss/imgs/pwc.jpeg" alt="This is project">
            <p>This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one 
                This is desc of project one This is desc of project one This is desc of project one This is desc of project one This is desc of project one.
            </p>
        </section>
    </body>
</html>