<!DOCTYPE html>
<html>
    <head>
        <title> Sukina Portfolio</title>
        <link rel="stylesheet" href="../styles/indexStyle.css">
    </head>

    <body>
        <h1>Sukina Aldaboubi.</h1>

        <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="home.html">Home</a></li>
            <li class="nav-item"><a href="aboutMe.html">About Me</a></li>
            <li class="nav-item"><a href="projects.html">Projects</a></li>
            <li class="nav-item"><a href="contact.html">Contact</a></li>
            <li class="nav-item"><a href="gallery.html">Gallery</a></li>
        </ul>
    </nav>
    </body>
</html>