body {
    margin: 32px 32px 32px;
    background-color: blanchedalmond;
}

.contact-form {
    align-items: center;
    width: 20rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    padding: 16px 16px 16px 16px;
    margin: 16px 0 0;
    border-radius: 16px;
}

.contact-form input {
    width: 90%;
    margin-bottom: 16px;
}

.contact-form .submit {
    text-align: center;
    width: 30%;
    height: 30px;
    background-color: rgba(81, 190, 60, 0.3);
    border: 0;
    border-radius: 16px;
}

.contact-form .submit:hover {
    background-color: rgba(81, 190, 60)
}