/* *{
    box-sizing: border-box;
} */

body {
    margin: 32px 32px 32px ;
    background-color: blanchedalmond;
}

.myProjects {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.project-list {
    width: 100%;
}

.project-list ol {
    display: flex;
    flex-direction: column;
}

.project-list ol li {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    
}

.project-list ol li .imgs-container {
    margin-left: 16px;
}

.project-list ol li .imgs-container .project-element {
    margin: 0.5rem 0.5rem; 
}

.project-list li img{
    width: 100px;
    height: 100px;
}